<html>

<head>
   <!--see reference: src="http://www.highcharts.com/blog/194-using-highcharts-with-angular-js"-->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="DAS MUH BEST FRIEND! YOU BETTA">
   <meta name="author" content="madskillz">

   <title>Monitor Your Brew</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <!-- Custom styles for this template -->
   <!--   <link rel="stylesheet" type="text/css" href="style.css" />-->
</head>

<body>
   <div class="container" data-ng-app="chart_view_module">
      <div class="navbar navbar-default">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">BrewMonitor</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting started <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><a href="http://getbootstrap.com/getting-started/#download">Random Link</a></li>
                     <li class="divider"></li>
                     <li class="dropdown-header">Examples</li>
                     <li><a href="getName">http:getName</a></li>
                     <li class="divider"></li>
                     <li class="dropdown-header">HTTP Requests in Raw JSON</li>
                     <li><a href="getSensorData">Get Sensor Data</a></li>
                     <li><a href="getCurrentSchedule">Get Current Schedule</a></li>
                     <li><a href="getNextSchedule">See Next Schedule</a></li>
                  </ul>
               </li>
               <li class="active"><a href="index.html">Monitor</a></li>
               <li><a href="create.html">Schedule</a></li>
               <li><a href="about.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="http://getbootstrap.com/customize">Customize</a></li>
            </ul>
         </div>
      </div>

      <div class="jumbotron">
         <div class="chartHeader">
            <h1>Your Current Brew</h1>
            <p class="lead">Monitor your brew.</p>
         </div>

         <div class="mychart" data-ng-controller="monitor_ctrl">
            <highchart id="chart2" config="highchartsNG"></highchart>

            <br>
            <div class="form-group">
               <!-- Set Temperature Reading Interval -->
               <label for="new-temp" class="control-label">How often would you like the temperature to be read? (seconds)</label>
               <div class="control">
                  <input id="new-temp" class="form-control" type="number" data-ng-model="interval">
                  <p><a class="btn btn-lg btn-primary" data-ng-click="setSensingInterval(interval)">Set Interval</a></p>
               </div>
            </div>
            <!--               <a class="btn btn-lg btn-primary" data-ng-click="setInterval(interval)">Set Interval</a>-->
         </div>
      </div>
   </div>

   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="controller.js"></script>
   <script type="text/javascript" src="https://rawgit.com/pablojim/highcharts-ng/master/dist/highcharts-ng.js"></script>
   <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>